.carousel-item {
    height: 32rem;
    background-image: url('../imgs/placeholder.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.btn {
    text-transform: uppercase;
    font-weight: bold;
}

footer {
    background-color: #001449;
    color: #fafafa;
    margin: 0;
    padding: 5rem 0;
    text-align: center;
    font-size: .7rem;
}

footer a {
    text-decoration: none;
    border: 1px solid #fafafa;
    border-radius: 6px;
    padding: .8rem;
    color: #fafafa;
    font-weight: bold;
}