<div class="col-lg"> <!-- Coluna responsiva, ajusta em telas grandes -->
    <div class="card text-center mb-5 shadow-sm"> <!-- Card com sombra leve e centralizado -->
        <!-- Envolvendo a imagem em um link que leva à página product.html -->
        <a href="product.html">
            <img src="imgs/placeholder.jpg" alt="Produto" class="card-img-top">
        </a>
        <div class="card-body"> <!-- Corpo do card -->
            <h5 class="card-title">Produto</h5> <!-- Título do produto -->
            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni, alias consectetur in
                fuga modi magnam totam praesentium et fugiat atque quidem placeat quam dicta assumenda sunt, beatae
                pariatur temporibus facere!</p> <!-- Descrição do produto -->
            <!-- Modificando o botão para redirecionar para a página product.html -->
            <a href="product.html" class="btn btn-outline-secondary">Comprar</a>
        </div>
    </div>
</div>