<div class="col-lg"> <!-- Coluna responsiva, ajusa em telas grandes-->
    <div class="card text-center mb-5 shadow-sm"> <!-- Card com sombra leve e centralizada-->

        <!--Envolvendo a imagem em um link que levaá página product.html -->
        <a href="product.html"> 
            <img src="imgs/placeholder.jpg" alt="Produto" class="card-img-top">
        </a>

        <div class="card-body"> <!--Corpo do card-->
            <h5 class="card-title">{title}</h5> <!-- Título do produto-->
            <p class="card-text">{title} Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptates, eum cumque autem veritatis nesciunt nihil explicabo earum soluta quibusdam consequuntur aliquam est ipsam sapiente optio assumenda aspernatur tempora accusamus!</p> <!--Descrição do produto-->
            <!-- Modificando o botão para redirecionar para apágina product.html-->
            <a href="{href}" class="btn btn-outline-secondary">Comprar</a>
        </div>
    </div>
</div>