<div class="container">\
    <ul class="list-inline mb-5">
        <li class="list-inline-item">
            <a href="#">primeiro link</a>
        </li>

        <li class="list-inline-item">
            <a href="#">segundo link</a>
        </li>

        <li class="list-inline-item">
            <a href="#">terceiro link</a>
        </li>
    </ul>

<p class="mb-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi recusandae esse dolores minima eaque, qui cum magni, voluptatibus maiores debitis consequatur. Atque minus incidunt eos blanditiis ipsa quo dolor porro!</p>
<p class="mb-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod rerum iusto error soluta beatae reiciendis tempora voluptatum maxime nesciunt tempore nobis, autem dolorem possimus sit minus, totam eius placeat omnis.</p>
<p class="mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta debitis quae totam eum voluptatem temporibus tenetur fuga adipisci! Sint facere suscipit esse quasi impedit repellendus odit error fuga numquam provident.</p>
</div>